<div class="card">
  <a href="/shops/<%= id %>" class="text-body">
    <img src="/public/images/dummy/286x180.png" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title"><%= name %></h5>
      <p class="card-text"><%= categories %></p>
    </div>
  </a>
</div>